{% extends 'main/base2.html' %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% block links%}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'mysite/blog.css' %}">
	{% endblock links %}
	<title>{% block title %}What Is Cryptocurrency ?{% endblock title %}</title>
</head>
<body>
{% block currentsecname %}
What Is Cryptocurrency
{% endblock currentsecname %}

		{% block contentwrapper %}
			<div class="main-container3">
				<div class="top-container">
					<div class="blog-image-container">
						<img src="{% static 'mysite/WhtIsCrypCu.gif' %}">
					</div>
					<div class="top-right-container">
						<div class="blog-title">Introduction To Cryptocurrency: </div>
						<div class="blog-description">Cryptocurrencies, or virtual currencies, are digital means of exchange that uses cryptography for security. The word ‘crypto’ comes from the ancient greek word, ‘kryptós’, which means hidden or private. A digital currency that is created and used by private individuals or groups has multiple benefits.</div>
						<div class="blog-title" style="margin-top:10px;">What Is Cryptocurrency ?</div>
						<div class="blog-description">A cryptocurrency is a digital or virtual currency that is secured by cryptography, which makes it nearly impossible to counterfeit or double-spend. Many cryptocurrencies are decentralized networks based on blockchain technology—a distributed ledger enforced by a disparate network of computers. A defining feature of cryptocurrencies is that they are generally not issued by any central authority, rendering them theoretically immune to government interference or manipulation.</div>
					</div>
				</div>
				<div class="bottom-container">
					<div class="topic-container">
						<div class="blog-sub-title">KeyTakeAways:</div>
						<div class="blog-sub-description">•	A cryptocurrency is a form of digital asset based on a network that is distributed across a large number of computers. This decentralized structure allows them to exist outside the control of governments and central authorities.</div>
						<div class="blog-sub-description">•	The word “cryptocurrency” is derived from the encryption techniques which are used to secure the network.</div>
						<div class="blog-sub-description">•	Blockchains, which are organizational methods for ensuring the integrity of transactional data, are an essential component of many cryptocurrencies.</div>
						<div class="blog-sub-description">•	Many experts believe that blockchain and related technology will disrupt many industries, including finance and law</div>
						<div class="blog-sub-description">•	Cryptocurrencies face criticism for a number of reasons, including their use for illegal activities, exchange rate volatility, and vulnerabilities of the infrastructure underlying them. However, they also have been praised for their portability, divisibility, inflation resistance, and transparency.</div>
						<div class="blog-sub-description">•	Cryptocurrency is best for Ecommerce</div>
						<div class="blog-sub-description">• Cryptocurrency cannot be banned physically</div>
					</div>
				</div>
			</div>
		{% endblock contentwrapper %}

	{% block scripts%}
	<script type="text/javascript">
		$(function () {
 $(".menu-link").click(function () {
  $(".menu-link").removeClass("is-active");
  $(this).addClass("is-active");
 });
});

$(function () {
 $(".main-header-link").click(function () {
  $(".main-header-link").removeClass("is-active");
  $(this).addClass("is-active");
 });
});

const dropdowns = document.querySelectorAll(".dropdown");
dropdowns.forEach((dropdown) => {
 dropdown.addEventListener("click", (e) => {
  e.stopPropagation();
  dropdowns.forEach((c) => c.classList.remove("is-active"));
  dropdown.classList.add("is-active");
 });
});

$(".search-bar input")
 .focus(function () {
  $(".header").addClass("wide");
 })
 .blur(function () {
  $(".header").removeClass("wide");
 });

$(document).click(function (e) {
 var container = $(".status-button");
 var dd = $(".dropdown");
 if (!container.is(e.target) && container.has(e.target).length === 0) {
  dd.removeClass("is-active");
 }
});

$(function () {
 $(".dropdown").on("click", function (e) {
  $(".content-wrapper").addClass("overlay");
  e.stopPropagation();
 });
 $(document).on("click", function (e) {
  if ($(e.target).is(".dropdown") === false) {
   $(".content-wrapper").removeClass("overlay");
  }
 });
});

$(function () {
 $(".status-button:not(.open)").on("click", function (e) {
  $(".overlay-app").addClass("is-active");
 });
 $(".pop-up .close").click(function () {
  $(".overlay-app").removeClass("is-active");
 });
});

$(".status-button:not(.open)").click(function () {
 $(".pop-up").addClass("visible");
});

$(".pop-up .close").click(function () {
 $(".pop-up").removeClass("visible");
});

const toggleButton = document.querySelector('.dark-light');

toggleButton.addEventListener('click', () => {
  document.body.classList.toggle('light-mode');
});
	</script>
{% endblock scripts%}

</body>
</html>